.toast.toast-success {
  background-color: #25ff75;
  color: #ffffff;
  font-weight: bolder;
}
.toast.toast-info {
  background-color: #8950FC;
  color: #ffffff;
  font-weight: bolder;
}
.toast.toast-warning {
  background-color: #ffc107;
  color: #ffffff;
  font-weight: bolder;
}
.toast.toast-error {
  background-color: #F64E60;
  color: #ffffff;
  font-weight: bolder;
}